.index-card
  margin-bottom 2.5rem

.index-img
  img
    display block
    width 100%
    height 10rem
    object-fit cover
    box-shadow 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
    border-radius .25rem

.index-info
  display flex
  flex-direction column
  justify-content space-between
  padding-top .5rem
  padding-bottom .5rem

.index-header
  color var(--text-color)
  font-size 1.5rem
  font-weight bold
  line-height 1.2
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

  .index-pin
    color var(--text-color)
    font-size 1.5rem
    margin-right .15rem

.index-btm
  color var(--sec-text-color)

  a
    color var(--sec-text-color)

.index-excerpt
  color var(--sec-text-color)

  margin 0.5rem 0 0.5rem 0
  max-height calc(1.4rem * 3)
  line-height 1.4rem
  overflow hidden

  & > div
    float right
    margin-left -0.25rem
    width 100%
    word-break break-word
    display -webkit-box
    -webkit-box-orient vertical
    -webkit-line-clamp 3

@media (max-width: 767px)
  .index-info
    padding-top 1.25rem

  .index-header
    font-size 1.25rem
    white-space normal
    overflow hidden
    word-break break-word
    display -webkit-box
    -webkit-box-orient vertical
    -webkit-line-clamp 2

    .index-pin
      font-size 1.25rem
