.banner
  height 100%
  position relative
  overflow hidden
  cursor default
  overflow-wrap break-word

  .mask
    position absolute
    width 100%
    height 100%
    background-color rgba(0, 0, 0, 0.3)

  .page-header
    color #fff

  &[parallax="true"]
    will-change transform
    -webkit-transform-style preserve-3d
    -webkit-backface-visibility hidden
