.banner
  height 100%
  position relative
  overflow hidden
  cursor default

  .mask
    position absolute
    width 100%
    height 100%
    background-color rgba(0, 0, 0, 0.3)

  &[parallax="true"]
    will-change transform
    -webkit-transform-style preserve-3d
    -webkit-backface-visibility hidden
    transition transform .05s ease-out

if $banner-width-height-ratio > 0
  @media (max-width: unit($banner-width-height-ratio * 100, "vh"))
    .header-inner
      max-height unit(100 / $banner-width-height-ratio, "vw")

    #board
      margin-top -1rem !important

  @media (max-width: unit($scroll-arrow-height-limit - 0.01, "vh"))
    .scroll-down-bar
      display none
