#board
  position relative
  margin-top -2rem
  padding 3rem 0
  background-color var(--board-bg-color)
  transition background-color .2s ease-in-out
  border-radius 0.5rem
  z-index 3
  -webkit-box-shadow 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)
  box-shadow 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)
