#board
  position relative
  margin-top -2rem
  padding 3rem 0
  background-color var(--board-bg-color)
  transition background-color .2s ease-in-out
  border-radius 12px
  z-index 3
  -webkit-box-shadow 0 4px 20px 0 rgba(0, 0, 0, 0.07), 0 1px 4px 0 rgba(0, 0, 0, 0.05)
  box-shadow 0 4px 20px 0 rgba(0, 0, 0, 0.07), 0 1px 4px 0 rgba(0, 0, 0, 0.05)

.board > .container
  overflow-x hidden

// 当没有侧边栏时，board 占满整个宽度
@media (min-width: 992px)
  #board-ctn:not(:has(.has-sidebar)) > .row
    > .side-col
      flex 0 0 0
      max-width 0
      padding 0

    > .col-lg-8
      flex: 0 0 100%;
      max-width: 100%;
