footer > div:not(:first-child)
  margin .25rem 0
  font-size .85rem

.statistics > span:last-child
  margin 0 .35rem

a.beian-police
  position relative
  overflow hidden
  display inline-flex
  align-items center
  justify-content center

  img
    margin 0 3px
    width 18px
    height 18px

@media (max-width: 320px)
  a.beian-police
    span.beian-police-sep
      display none
