.banner-text
  color var(--subtitle-color)
  max-width calc(960px - 6rem)
  width 80%
  overflow-wrap break-word

@media (max-width: 767px)
  #subtitle, .typed-cursor
    font-size 1.5rem

@media (max-width: 575px)
  .banner-text
    font-size 0.9rem

  #subtitle, .typed-cursor
    font-size 1.35rem
