.noscript-warning
  background-color #f55
  color #fff
  font-family sans-serif
  font-size 1rem
  font-weight bold
  position fixed
  left 0
  bottom  0
  text-align center
  width 100%
  z-index 99
