.qr-trigger
  cursor pointer
  position relative

  &:hover .qr-img
    display block
    transition all .3s

.qr-img
  max-width 12rem
  position absolute
  right -5.25rem
  z-index 99
  display none
  box-shadow 0 0 20px -5px hsla(0, 0%, 62%, .2)
  border-radius .2rem
