.qr-trigger
  cursor pointer
  position relative

  &:hover .qr-img
    display block
    transition all .3s

.qr-img
  max-width 200px
  position absolute
  right -100px
  z-index 99
  display none
  box-shadow 0 0 20px -5px hsla(0, 0%, 62%, .2)
