.scroll-down-bar
  position absolute
  width 100%
  height 6rem
  text-align center
  cursor pointer
  bottom 0

  i.iconfont
    font-size 2rem
    font-weight bold
    display inline-block
    position relative
    padding-top 2rem
    color var(--subtitle-color)
    transform translateZ(0)
    animation scroll-down 1.5s infinite

#scroll-top-button
  position fixed
  z-index 99
  background var(--board-bg-color)
  transition background-color .2s ease-in-out, transform .3s ease
  border-radius 10px
  min-width 40px
  min-height 40px
  bottom 20px
  transform translateY(80px)
  outline none
  display flex
  display -webkit-flex
  align-items center
  box-shadow 0 4px 20px 0 rgba(0, 0, 0, 0.07), 0 1px 4px 0 rgba(0, 0, 0, 0.05)

  i
    font-size 32px
    margin auto
    color var(--sec-text-color)

  &:hover i, &:active i
    animation-name scroll-top
    animation-duration 1s
    animation-delay .1s
    animation-timing-function ease-in-out
    animation-iteration-count infinite
    animation-fill-mode forwards
    animation-direction alternate
