<%
page.layout = "archive"
page.title = __('archive.title')
page.subtitle = __('archive.subtitle')
page.banner_img = theme.archive.banner_img
page.banner_img_height = theme.archive.banner_img_height
var date_cursor = 'xxx'
%>

<div class="list-group">
</div>
<%- partial('_partial/paginator') %>
