<%
page.layout = "links"
page.title = __('links.title')
page.subtitle = theme.links.subtitle || __('links.subtitle')
page.banner_img = theme.links.banner_img
page.banner_img_height = theme.links.banner_img_height
%>

<div class="row links">
  <% for(const each in theme.links.items) { %>
    <div class="card link-card col-lg-4 col-md-6 col-sm-12">
      <div class="card-body">
        <% var props = theme.links.items[each] %>
        <% if (!props) continue %>
        <a href="<%= url_for(props[0]) %>">
          <h5 class="card-title link-card-title"><%- each %></h5>
          <p class="card-text link-card-text"><%- props[1] %></p>
        </a>
      </div>
    </div>
  <% } %>
</div>
