
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="post_content">
            <%- page.content %>
        </div>
        <br><br>
        <p>
            <% page.tags.each(function(tag) { %>     
                <span class="badge badge-default">#&nbsp;<%- tag.name %></span>
                &nbsp;
            <% }) %>    
        </p>
    </div>
</div>