
<div class="row">
    <div class="col-md-10 offset-md-1">
        <p><%- page.content %></p>
        <br><br>
        <p>标签：
            <% page.tags.each(function(tag) { %>
                <%- tag.name %>
                &nbsp;
            <% }) %>    
        </p>
    </div>
</div>