<%
page.layout = "tag"
page.title = [__('tag.title'), page.tag].join(" - ")
page.subtitle = [__('tag.subtitle'), page.tag].join(" - ")
page.banner_img = theme.tag.banner_img
page.banner_img_height = theme.tag.banner_img_height

var date_cursor = 'xxx'
%>

<div class="list-group">
</div>
<%- partial('_partial/paginator') %>
