// Font
$font-size = theme-config("font.font_size", "16px")
$font-family = theme-config("font.font_family", '"SF Pro SC", "SF Pro Text", "SF Pro Icons", PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif')
$code-font-size = theme-config("font.code_font_size", "85%")

// Colors
// -----------------------

// body
$body-bg-color = theme-config("color.body_bg_color", "#eee")

// global
$text-color = theme-config("color.text_color", "#3c4858")
$sec-text-color = theme-config("color.sec_text_color", "#718096")
$post-text-color = theme-config("color.post_text_color", "#2c3e50")
$post-heading-color = theme-config("color.post_heading_color", "#1a202c")
$link-color = theme-config("color.link_color", $text-color)
$link-hover-color = theme-config("color.link_hover_color", "#1abc9c")
$link-hover-bg-color = theme-config("color.link_hover_bg_color", "#ebedef")

// navbar
$navbar-bg-color = theme-config("color.navbar_bg_color", "#2f4154")
$navbar-text-color = theme-config("color.navbar_text_color", $text-color)
$navbar-glass-enable = theme-config-origin("navbar.ground_glass.enable", false)
$navbar-glass-px = theme-config-unit("navbar.ground_glass.px", 1, "px")
$navbar-glass-alpha = theme-config-origin("navbar.ground_glass.alpha", 1)

// board
$board-bg-color = theme-config("color.board_color", "#fff")

// post
$tocbot-link-color = $text-color
$tocbot-link-active-color = $link-hover-color


// Shadow
// -----------------------

$img-shadow = 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15) !important
