// Colors
// -----------------------

// body
$body-bg-color = theme-config("color.body-bg-color", "#eee")

// global
$text-color = theme-config("color.text-color", "#3c4858")
$link-color = theme-config("color.link-color", $text-color)
$link-hover-color = theme-config("color.link-hover-color", "#ff5f2e")
$link-hover-bg = #f8f9fa

// navbar
$navbar-bg-color = theme-config("color.navbar-bg-color", "#004e66")
$navbar-text-color = theme-config("color.navbar-text-color", $text-color)

// board
$board-bg-color = #fff

// post
$tocbot-link-color = $text-color
$tocbot-link-active-color = $link-hover-color


// Shadow
// -----------------------

$img-shadow = 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15) !important


// User custom
// -----------------------
@import "custom"