// ── Classic color palette ─────────────────────────────────────────────────────

$palette-classic = {
  body-bg:            #f0f0f0,
  body-bg-dark:       #141414,
  board-bg:           #ffffff,
  board-bg-dark:      #252d38,
  text:               #3c4858,
  text-dark:          #c4c6c9,
  sec-text:           #718096,
  sec-text-dark:      #a7a9ad,
  post-text:          #2c3e50,
  post-text-dark:     #c4c6c9,
  post-heading:       #1a202c,
  post-heading-dark:  #c4c6c9,
  post-link:          #2c3e50,
  post-link-dark:     #c4c6c9,
  link-hover:         #30a9de,
  link-hover-dark:    #30a9de,
  link-hover-bg:      #ebedef,
  link-hover-bg-dark: #364151,
  line:               #eaecef,
  line-dark:          #435266,
  navbar-bg:          #2f4154,
  navbar-bg-dark:     #1f3144,
  navbar-text:        #ffffff,
  navbar-text-dark:   #d0d0d0,
  subtitle:           #ffffff,
  subtitle-dark:      #d0d0d0,
  scrollbar:          #c4c6c9,
  scrollbar-dark:     #687582,
  scrollbar-hover:    #a6a6a6,
  scrollbar-hover-dark: #9da8b3,
  button-bg:          #f6f8fa,
  button-bg-dark:     #2f4154,
  button-hover-bg:    #f2f3f5,
  button-hover-bg-dark: #46647e,
  highlight-bg:       #f6f8fa,
  highlight-bg-dark:  #2d333b,
  inlinecode-bg:      rgba(175, 184, 193, .2),
  inlinecode-bg-dark: rgba(99, 110, 123, .4),
}
