if hexo-config("code.highlight.enable")
  if hexo-config("code.highlight.highlightjs.light.file")
    @require hexo-config("code.highlight.highlightjs.light.file")

  if hexo-config("code.highlight.prismjs.light.file")
    @require hexo-config("code.highlight.prismjs.light.file")
