if (hexo-config('code.highlight.enable'))
  if hexo-config('code.highlight.highlightjs.light_css')
    @require hexo-config('code.highlight.highlightjs.light_css')

  if hexo-config('code.highlight.prismjs.light_css')
    @require hexo-config('code.highlight.prismjs.light_css')
