if (hexo-config('code.highlight.enable'))
  if hexo-config('code.highlight.highlightjs.dark_css')
    @require hexo-config('code.highlight.highlightjs.dark_css')

  if hexo-config('code.highlight.prismjs.dark_css')
    @require hexo-config('code.highlight.prismjs.dark_css')
