.post-card{
    margin-top: 2rem;
}
.card-img{
    display: inline-block;
    max-width: 100%;
    height: auto;
    border-radius: 0.25rem;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,0.56), 0 4px 25px 0 rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.2);
}
