.post-card{
    margin-top: 2rem;
    word-break: break-all;
}

.post-card i {
  vertical-align: middle;
}

.post-index-img{
    display:block; 
    width: 100%;
    height: 160px;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 6px;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,0.56), 0 4px 25px 0 rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.2);
}

/*
 =========================================================
 * Material Kit
 =========================================================
 */
@import "Material-Kit";