.post-content {
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 64rem;
}

@media (max-width: 768px){
    .post-content {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (max-width: 425px){
    .post-content {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.post-content h1::before,h2::before,h3::before,h4::before,h5::before,h6::before {
    display: block;
    content: "";
    margin-top: -50px;
    height: 50px;
    width: 1px;
    visibility: hidden;
}

.post-content img {
    max-width: 90%;
    margin: 1.5rem auto;
    display: block;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)!important;
}

/*
* toc
*/

#toc {
    padding: 3rem 0 0 0;
}

#tocbot ol {
    list-style: none;
    padding-inline-start: 1rem;
}

.tocbot-list ol {
    list-style: none;
    padding-left: 1rem;
}

.tocbot-link {
    color: #34495e;
}

.tocbot-active-link {
    font-weight: 600;
    color: #89229b;
}

.tocbot-is-collapsible {
    max-height: 1000px;
    overflow: hidden;
    transition: all 300ms ease-in-out;
}

.tocbot-is-collapsed {
    max-height: 0;
}

@media (max-width: 1024px){
    .toc-container {
        padding-left: 0;
        padding-right: 0;
    }
}
