.post_content p{
    font-size: 18px;
}

.post_content h1:before,h2:before,h3:before,h4:before,h5:before,h6:before{
    content: "# ";
    color: #0e5796;
}

.post_content h1,h2,h3,h4,h5,h6{
    font-weight:600;
}

.toc{
    max-width: 200px;
    position: absolute;
    right: 100px;
}

.toc_fixed{
    position: fixed;
    top: 100px;
    right: 130px;
}
