<%
var banner_img_height = parseFloat(page.banner_img_height || theme.index.banner_img_height)
%>

<div class="header-inner" style="height: <%= banner_img_height %>vh;">
  <%- partial('_partials/header/navigation') %>
  <%- partial('_partials/header/banner') %>
</div>
