<% if(theme.footer.beian.enable) { %>
  <!-- 备案信息 -->
  <div class="beian">
    <a href="http://beian.miit.gov.cn/" target="_blank"
       rel="nofollow noopener"><%- theme.footer.beian.icp_text %></a>
    <% if(theme.footer.beian.police_text && theme.footer.beian.police_code) { %>
      <a
        href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=<%- theme.footer.beian.police_code %>"
        rel="nofollow noopener"
        class="beian-police"
        target="_blank"
      >
        <span class="beian-police-sep">&nbsp;|&nbsp;</span>
        <% if(theme.footer.beian.police_icon) { %>
          <img src="<%- url_for(theme.footer.beian.police_icon) %>" alt="police-icon" />
        <% } %>
        <span><%- theme.footer.beian.police_text %></span>
      </a>
     <% } %>
  </div>
<% } %>
