<% if(theme.footer.statistics.enable) { %>
  <div>
    <% if (theme.footer.statistics.pv_format) { %>
      <!-- 不蒜子统计PV -->
      <% var pv_texts = theme.footer.statistics.pv_format.split('{}') %>
      <span id="busuanzi_container_site_pv" style="display: none">
      <%- pv_texts[0] %><span id="busuanzi_value_site_pv"></span><%- pv_texts[1] %>
    </span>
    <% } %>
    <% if (theme.footer.statistics.uv_format) { %>
      <!-- 不蒜子统计UV -->
      <% var uv_texts = theme.footer.statistics.uv_format.split('{}') %>
      <span id="busuanzi_container_site_uv" style="display: none">
      <%- uv_texts[0] %><span id="busuanzi_value_site_uv"></span><%- uv_texts[1] %>
    </span>
    <% } %>
  </div>
<% } %>
