<% if(theme.footer.statistics.enable || theme.post.meta.views.enable) { %>
  <% if (theme.footer.statistics.pv_format) { %>
    <!-- 不蒜子统计PV -->
    <% var pv_texts = theme.footer.statistics.pv_format.split('{}') %>
    &nbsp;<span id="busuanzi_container_site_pv"><%= pv_texts[0] %>
          <span id="busuanzi_value_site_pv"></span><%= pv_texts[1] %></span>&nbsp;
  <% } %>
  <% if (theme.footer.statistics.uv_format) { %>
    <!-- 不蒜子统计UV -->
    <% var uv_texts = theme.footer.statistics.uv_format.split('{}') %>
    &nbsp;<span id="busuanzi_container_site_uv"><%= uv_texts[0] %>
            <span id="busuanzi_value_site_uv"></span><%= uv_texts[1] %></span>&nbsp;
  <% } %>
  <br>
<% } %>
