<%
var banner_img_height = parseInt(page.banner_img_height || theme.index.banner_img_height, 10) || 100
%>

<header>
  <div class="header-inner" style="height: <%= banner_img_height %>vh;">
    <%- partial('_partial/header/navigation') %>
    <%- partial('_partial/header/banner') %>
  </div>
</header>
