<nav id="navbar" class="navbar fixed-top  navbar-expand-lg navbar-dark scrolling-navbar">
<div class="container">
    <a class="navbar-brand" href="<%- url_for() %>"><strong><%= config.title %></strong></a>

    <button id="navbar-toggler-btn" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <div class="animated-icon"><span></span><span></span><span></span></div>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto text-center">
            <% for(var i in theme.navbar.menu) { %>
            <li class="nav-item">
                <a class="nav-link" href="<%- url_for(theme.navbar.menu[i]) %>"><%= i %></a>
            </li>
            <% } %>
        </ul>
    </div>
</div>


</nav>