<!-- <% if (page.total > 1){ %>
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
        <span class="page-link">Previous</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
        <span class="page-link">
            2
            <span class="sr-only">(current)</span>
        </span>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
        <a class="page-link" href="#">Next</a>
        </li>
        %>
    </ul>
</nav>
<% } %> -->

<% if (page.total > 1){ %>
    <nav class="page-nav justify-content-center">
      <%- paginator({
        prev_text: "&laquo; Prev",
        next_text: "Next &raquo;"
      }) %>
    </nav>
  <% } %>