.post-content
  box-sizing border-box
  padding-left 10%
  padding-right 10%
  max-width 64rem

@media (max-width: 768px)
  .post-content
    padding-left 2rem
    padding-right 2rem

@media (max-width: 425px)
  .post-content
    padding-left 1rem
    padding-right 1rem

.post-content h1::before, h2::before, h3::before, h4::before, h5::before, h6::before
  display block
  content ""
  margin-top -50px
  height 50px
  width 1px
  visibility hidden

.post-meta
  margin 0 .25rem

  i
    margin 0 .15rem

// toc

#toc
  padding 3rem 0 0 0
  height 80%

  p
    visibility: hidden

#tocbot
  max-height 100%
  overflow-y auto
  overflow -moz-scrollbars-none
  -ms-overflow-style none
  ol
    list-style none
    padding-inline-start 1rem
  &::-webkit-scrollbar
    display none

.tocbot-list
  ol
    list-style none
    padding-left 1rem
  a
    font-size: 15px

.tocbot-link
  color $tocbot-link-color

.tocbot-active-link
  font-weight 600
  color $tocbot-link-active-color

.tocbot-is-collapsible
  max-height 1000px
  overflow hidden
  transition all 300ms ease-in-out

.tocbot-is-collapsed
  max-height 0

@media (max-width: 1024px)
  .toc-container
    padding-left 0
    padding-right 0

.custom, .comments
  margin-top 2rem

@media (min-width: 64rem)
  .custom, .comments
    max-width: 64rem

.katex-block
  overflow-x auto
