.post-content, post-custom
  box-sizing border-box
  padding-left 10%
  padding-right 10%

@media (max-width: 767px)
  .post-content, post-custom
    padding-left 2rem
    padding-right 2rem

@media (max-width: 424px)
  .post-content, post-custom
    padding-left 1rem
    padding-right 1rem

.post-content
    h1, h2, h3, h4, h5, h6
      anchor-offset()

.page-content, .post-content
  strong
    font-weight bold

  & > *:first-child
    margin-top 0

  img
    object-fit cover
    max-width 100%

.post-metas
  display flex
  flex-direction row
  flex-wrap wrap

.post-meta
  & > i
    margin-right .15rem

  & > a:not(.hover-with-bg)
    margin-right .15rem

.post-prevnext
  margin-top 2rem
  display flex
  flex-wrap wrap
  justify-content space-between
  margin-left -0.5rem
  margin-right -0.5rem

  .post-prev, .post-next
    display flex
    padding-left 0
    padding-right 0

    i
      font-size 1.5rem

    a
      display flex
      align-items center

    .hidden-mobile
      display -webkit-box
      -webkit-box-orient vertical
      -webkit-line-clamp 2
      text-overflow ellipsis
      overflow hidden

    @media (max-width: 575px)
      .hidden-mobile
        display none

  .post-prev:hover i, .post-prev:active i, .post-next:hover i, .post-next:active i
    -webkit-animation-duration 1s
    animation-duration 1s
    -webkit-animation-delay .1s
    animation-delay .1s
    -webkit-animation-timing-function ease-in-out
    animation-timing-function ease-in-out
    -webkit-animation-iteration-count infinite
    animation-iteration-count infinite
    -webkit-animation-fill-mode forwards
    animation-fill-mode forwards
    -webkit-animation-direction alternate
    animation-direction alternate

  .post-prev:hover i, .post-prev:active i
    -webkit-animation-name post-prev-anim
    animation-name post-prev-anim

  .post-next:hover i, .post-next:active i
    -webkit-animation-name post-next-anim
    animation-name post-next-anim

  .post-next
    justify-content flex-end

  .fa-chevron-left
    margin-right .5rem

  .fa-chevron-right
    margin-left .5rem

@keyframes post-prev-anim
  0%
    -webkit-transform translateX(0)
    transform translateX(0)
  50%
    -webkit-transform translateX(-0.35rem)
    transform translateX(-0.35rem)
  100%
    -webkit-transform translateX(0)
    transform translateX(0)

@keyframes post-next-anim
  0%
    -webkit-transform translateX(0)
    transform translateX(0)
  50%
    -webkit-transform translateX(0.35rem)
    transform translateX(0.35rem)
  100%
    -webkit-transform translateX(0)
    transform translateX(0)

// toc

#toc
  position -webkit-sticky
  position sticky
  top 2rem
  padding 3rem 0 0 0
  visibility hidden

.toc-header
  margin-bottom .5rem
  font-weight 500
  line-height 1.2

  &, & > i
    font-size 1.25rem

.toc-body
  max-height 75vh
  overflow-y auto
  overflow -moz-scrollbars-none
  -ms-overflow-style none

  ol
    list-style none
    padding-inline-start 1rem

  &::-webkit-scrollbar
    display none

.tocbot-list
  ol
    list-style none
    padding-left 1rem

  a
    font-size 0.95rem

.tocbot-link
  color var(--text-color)

.tocbot-active-link
  font-weight bold
  color var(--link-hover-color)

.tocbot-is-collapsed
  max-height 0

.tocbot-is-collapsible
  overflow hidden
  transition all .3s ease-in-out

@media (max-width: 1024px)
  .toc-container
    padding-left 0
    padding-right 0

.markdown-body .image-caption
  font-size .8rem
  color var(--post-text-color)
  opacity 0.65
  line-height 1
  margin -0.75rem auto 2rem
  text-align center

.custom, .comments
  margin-top 2rem

.visitors
  font-size .8em
  padding .45rem
  float right
