// note
.note
  padding 0.75rem
  border-left 0.35rem solid
  border-radius 0.25rem
  margin 1.5rem 0
  color $text-color
  font-size 0.9rem

  a
    color $text-color

  *:last-child
    margin-bottom 0

.note-primary
  background-color #f5f0fa
  border-color #6f42c1

.note-secondary, note-default
  background-color #f7f7f7
  border-color #777

.note-success
  background-color #eff8f0
  border-color #5cb85c

.note-danger
  background-color #fcf1f2
  border-color #d9534f

.note-warning
  background-color #fdf8ea
  border-color #f0ad4e

.note-info
  background-color #eef7fa
  border-color #428bca

.note-light
  background-color #fefefe
  border-color #0f0f0f

// label
.label
  display inline
  border-radius 3px
  font-size 85%
  margin 0
  padding .2em .4em
  color $text-color

.label-default
  background #f7f7f7

.label-primary
  background #f5f0fa

.label-info
  background #eef7fa

.label-success
  background #eff8f0

.label-warning
  background #fdf8ea

.label-danger
  background #fcf1f2

// button
.markdown-body .btn
  background #2F4154
  border-radius .25rem
  color #fff !important
  display inline-block
  font-size .875em
  line-height 2
  padding 0 .75rem
  text-decoration none
  transition-property background
  transition-delay 0s
  transition-duration 0.2s
  transition-timing-function ease-in-out
  -webkit-box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
  box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
  margin-bottom 1rem

  &:hover
    background #23ae92
    color #fff !important
    text-decoration none

// group-image
.group-image-container
  margin 1.5rem auto

  & img
    margin 0 auto
    border-radius 3px
    box-shadow 0 3px 9px 0 rgba(0, 0, 0, 0.15), 0 3px 9px 0 rgba(0, 0, 0, 0.15)

.group-image-row
  margin-bottom .5rem
  display flex
  justify-content center

.group-image-wrap
  flex 1
  display flex
  justify-content center

  &:not(:last-child)
    margin-right .25rem

// tabs
.markdown-body .tabs {
  margin-bottom: 20px;
}

.markdown-body .tabs, .tabs-comment {
  display: block;
  padding-top: 10px;
  position: relative;

  ul.nav-tabs {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: -1px;
    padding: 0;

    +mobile-smallest() {
      display: block;
      margin-bottom: 5px;
    }

    li.tab {
      border-bottom: 1px solid $grey-lighter;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      border-top: 3px solid transparent;
      flex-grow: 1;
      list-style-type: none;

      +mobile-smallest() {
        border-bottom: 1px solid transparent;
        border-left: 3px solid transparent;
        border-right: 1px solid transparent;
        border-top: 1px solid transparent;
      }

      border-radius: $tbr $tbr 0 0;

      +mobile-smallest() {
        border-radius: $tbr;
      }

      if (hexo-config('tabs.transition.tabs')) {
        the-transition-ease-out();
      }

      a {
        border-bottom: initial;
        display: block;
        line-height: 1.8;
        outline: 0;
        padding: .25em .75em;
        text-align: center;

        i {
          width: (18em / 14);
        }

        if (hexo-config('tabs.transition.labels')) {
          the-transition-ease-out();
        }
      }

      &.active {
        border-bottom: 1px solid transparent;
        border-left: 1px solid $table-border-color;
        border-right: 1px solid $table-border-color;
        border-top: 3px solid $orange;

        +mobile-smallest() {
          border-bottom: 1px solid $table-border-color;
          border-left: 3px solid $orange;
          border-right: 1px solid $table-border-color;
          border-top: 1px solid $table-border-color;
        }

        a {
          color: var(--link-color);
          cursor: default;
        }
      }
    }
  }

  .tab-content {
    .tab-pane {
      border: 1px solid $table-border-color;
      border-top: 0;
      padding: 20px 20px 0 20px;

      border-radius: $tbr;

      &:not(.active) {
        display: none;
      }

      &.active {
        display: block;

        &:nth-of-type(1) {
          border-radius: 0 $tbr $tbr $tbr;

          +mobile-smallest() {
            border-radius: $tbr;
          }
        }
      }
    }
  }
}
