// note
.note
  padding 0.75rem
  border-left 0.35rem solid
  border-radius 0.25rem
  margin 1.5rem 0
  color $text-color

  a
    color $text-color

  *:last-child
    margin-bottom 0

.note-primary
  background-color #dfeefd
  border-color #176ac4

.note-secondary
  background-color #e2e3e5
  border-color #58595a

.note-success
  background-color #e2f0e5
  border-color #49a75f

.note-danger
  background-color #fae7e8
  border-color #e45460

.note-warning
  background-color #faf4e0
  border-color #c2a442

.note-info
  background-color #e4f2f5
  border-color #2492a5

.note-light
  background-color #fefefe
  border-color #0f0f0f

// label
.label
  display inline
  border-radius 3px
  font-size 85%
  margin 0
  padding .2em .4em
  color $text-color

.label-default
  background #e7e3e3

.label-primary
  background #dfeefd

.label-info
  background #e4f2f5

.label-success
  background #e2f0e5

.label-warning
  background #faf4e0

.label-danger
  background #fae7e8

// button
.markdown-body .btn
  background #2F4154
  border-radius .25rem
  color #fff !important
  display inline-block
  font-size .875em
  line-height 2
  padding 0 .75rem
  text-decoration none
  transition-property background
  transition-delay 0s
  transition-duration 0.2s
  transition-timing-function ease-in-out
  -webkit-box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
  box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
  margin-bottom 1rem

  &:hover
    background #23ae92
    color #fff !important
    text-decoration none

// group-image
.group-image-container
  margin 1.5rem auto

  & img
    margin 0 auto
    border-radius 3px
    box-shadow 0 3px 9px 0 rgba(0, 0, 0, 0.15), 0 3px 9px 0 rgba(0, 0, 0, 0.15)

.group-image-row
  margin-bottom .5rem
  display flex
  justify-content center

.group-image-wrap
  flex 1
  display flex
  justify-content center

  &:not(:last-child)
    margin-right .25rem
