// note
.note
  padding 0.75rem
  border-left 0.35rem solid
  border-radius 0.25rem
  margin 1.5rem 0

  *:last-child
    margin-bottom 0

.note-primary
  background-color #dfeefd
  border-color #176ac4

.note-secondary
  background-color #e2e3e5
  border-color #58595a

.note-success
  background-color #e2f0e5
  border-color #49a75f

.note-danger
  background-color #fae7e8
  border-color #e45460

.note-warning
  background-color #faf4e0
  border-color #c2a442

.note-info
  background-color #e4f2f5
  border-color #2492a5

.note-light
  background-color #fefefe
  border-color #0f0f0f

// label
.label
  display inline
  padding 0 2px
  margin-bottom: 2rem;

  &.default
    background: #e7e3e3

  &.primary
    background: #dfeefd

  &.info
    background: #e4f2f5

  &.success
    background: #e2f0e5

  &.warning
    background: #faf4e0

  &.danger
    background: #fae7e8

// btn
.markdown-body .btn
  background #2F4154
  border-radius 2px
  color #fff !important
  display inline-block
  font-size 0.875em
  line-height 2
  padding 0 20px
  text-decoration none
  transition-property background
  transition-delay 0s
  transition-duration 0.2s
  transition-timing-function ease-in-out

  &:hover
    background #23ae92
    color #fff !important
    text-decoration none

// group-picture
.group-picture img
  margin 0 auto
  padding 0 3px


.group-picture-row
  margin-bottom 6px
  overflow hidden


.group-picture-column
  float left
  margin-bottom 10px
