// note
.note
  padding 0.75rem
  border-left 0.35rem solid
  border-radius 0.25rem
  margin 1.5rem 0

  *:last-child
    margin-bottom 0

.note-primary
  background-color #dfeefd
  border-color #176ac4

.note-secondary
  background-color #e2e3e5
  border-color #58595a

.note-success
  background-color #e2f0e5
  border-color #49a75f

.note-danger
  background-color #fae7e8
  border-color #e45460

.note-warning
  background-color #faf4e0
  border-color #c2a442

.note-info
  background-color #e4f2f5
  border-color #2492a5

.note-light
  background-color #fefefe
  border-color #0f0f0f
