<% if (theme.livere.uid) { %>
  <div id="lv-container" data-id="city" data-uid="<%= theme.livere.uid %>">
    <script type="text/javascript">
      Fluid.utils.loadComments('#lv-container', function() {
        Fluid.utils.createScript('https://cdn-city.livere.com/js/embed.dist.js');
      });
    </script>
    <noscript>Please enable JavaScript to view the comments</noscript>
  </div>
<% } %>
