<% if(theme.livere.uid){ %>
  <div id="lv-container" data-id="city" data-uid="<%= theme.livere.uid %>">
    <script type="text/javascript">
      function loadLivere() {
        addScript('https://cdn-city.livere.com/js/embed.dist.js');
      }
      createObserver(loadLivere, 'lv-container');
    </script>
    <noscript>为正常使用来必力评论功能请允许 JavaScript 运行</noscript>
  </div>
<% } %>
