<% if (theme.twikoo && theme.twikoo.envId) { %>
  <div id="twikoo"></div>
  <script type="text/javascript">
    Fluid.utils.lazyComments('comments', function() {
      Fluid.utils.createScript('<%= url_join(theme.static_prefix.twikoo, 'twikoo.all.min.js') %>', function() {
        twikoo.init({
          el: '#twikoo',
          envId: '<%= theme.twikoo.envId %>',
          region: '<%= theme.twikoo.region %>',
          path: '<%= theme.twikoo.path %>',
        })
      });
    });
  </script>
  <noscript>Please enable JavaScript to view the comments</noscript>
<% } %>
