<% if (theme.waline.serverURL) { %>
  <div id="waline"></div>
  <script type="module">
    Fluid.utils.loadComments('#waline', function() {
      Fluid.utils.createCssLink('<%= url_join(theme.static_prefix.waline, 'waline.css') %>')
      import('<%= url_join(theme.static_prefix.waline, 'waline.js') %>').then(({ init }) => {
        var options = Object.assign(
          <%- JSON.stringify(theme.waline || {}) %>,
          {
            el: '#waline',
            path: <%= theme.waline.path %>
          }
        )
        init(options);
        Fluid.utils.waitElementVisible('#waline .wl-content', () => {
          var imgSelector = '#waline .wl-content img:not(.wl-emoji)';
          Fluid.plugins.imageCaption(imgSelector);
          Fluid.plugins.fancyBox(imgSelector);
        })
      });
    });
  </script>
  <noscript>Please enable JavaScript to view the comments</noscript>
<% } %>
