.about-avatar
  position relative
  margin -8rem auto 1rem
  max-width 10rem
  z-index 3

  img
    width 10rem
    height 10rem
    object-fit cover
    border-radius 9999px !important
    -moz-border-radius 9999px !important
    -webkit-border-radius 9999px !important
