.about-avatar
  position relative
  margin -8rem auto 1rem
  width 10rem
  height 10rem
  z-index 3

  img
    width 100%
    height 100%
    border-radius 50%
    -moz-border-radius 50%
    -webkit-border-radius 50%
    object-fit cover
