.about-avatar
  position relative
  margin -8rem auto 1rem
  width 160px
  height 160px
  z-index 3

  img
    width 100%
    height 100%
    object-fit cover
    border-radius 9999px !important
    -moz-border-radius 9999px !important
    -webkit-border-radius 9999px !important
