@import "_widget/*"

html, body
  font-size $font-size
  font-family $font-family

html, body, header
  height 100%
  overflow-wrap break-word

body
  background-color $body-bg-color
  color $text-color

  a
    color $link-color
    text-decoration none
    cursor pointer
    transition-duration .2s
    transition-timing-function ease-in-out

    &:hover
      color $link-hover-color
      text-decoration none
      transition-duration .2s
      transition-timing-function ease-in-out

img[srcset]
  object-fit cover

*[align="left"]
  text-align left

*[align="center"]
  text-align center

*[align="right"]
  text-align right
