@keyframes fade-in-up
  from
    opacity 0
    -webkit-transform translate3d(0, 100%, 0)
    transform translate3d(0, 100%, 0)
  to
    opacity 1
    -webkit-transform translate3d(0, 0, 0)
    transform translate3d(0, 0, 0)

@keyframes scroll-down
  0%
    opacity 0.8
    top 0
  50%
    opacity 0.4
    top -1em
  100%
    opacity 0.8
    top 0

@keyframes scroll-top
  0%
    -webkit-transform translateY(0)
    transform translateY(0)
  50%
    -webkit-transform translateY(-0.35rem)
    transform translateY(-0.35rem)
  100%
    -webkit-transform translateY(0)
    transform translateY(0)
