@media print
  a:not([href^='#']):not([href^='javascript:']):not(.print-no-link)::after
    content ' (' attr(href) ')'
    font-size 80%
    color #57606a

  .print-hide
    display: none !important

@media not print
  .print-show
    display none

  #seo-header
    display none
