.category-tree-list
  font-size s = 1rem
  list-style-type circle

  .category-tree-list-link
    display inline-block
    padding .1rem .55rem
    font-weight 350

  .category-tree-list-count
    padding-left .5rem
    color #99a9bf
    font-size s* (3 / 4)

    &::before
      content: "("

    &::after
      content: ")"

