.category

  &:not(:last-child)
    margin-bottom 1rem

  .category-sub
    pass

  .category-item, .category-subitem
    font-weight bold
    display flex
    align-items center

  .category-item
    font-size 1.25rem

  .category-subitem
    font-size 1.1rem

  .category-collapse
    padding-left: 1.25rem
    width 100%

  .category-count
    font-size .9rem
    font-weight initial
    min-width 1.3em
    line-height 1.3em
    display flex
    align-items center

    i
      padding-right  .25rem

    span
      width 2rem

  .category-post
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

  .category-item-action

    &:not(.collapsed) > i
      transform rotate(90deg)
      transform-origin center center

    i
      transition transform .3s ease-out
      display inline-block
      margin-left .25rem

    .category:hover
      z-index 1
      color var(--link-hover-color)
      text-decoration none
      background-color var(--link-hover-bg-color)

  .row
    margin-left 0
    margin-right 0
